<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <%- include('./partials/nav.ejs') %>
    <h2 class="game-title"><%= game.name %></h2>
    <div class="game-info row align-items-start">
      <div class="col">
        <img src="<%= game.cover.url %>" alt="kirby triple deluxe" class="game-box-art">
      </div>
      <div class="game-description col">
        <div class="info-piece">
          <h3>Game Summary</h3>
          <p><%= game.summary %></p>
        </div>
        <div class="info-piece side-one">
          <h3>Platforms</h3>
          <% if (platformsLength != 0) { %>
            <% for (let i=0; i<platformsLength; i++) { %>
              <p><%= game.platforms[i].name %></p>
            <% } %>
          <% } else { %>
            <p>None</p>
          <% } %>
        </div>
        <div class="info-piece">
          <h3>Publisher(s)</h3>
          <% if (publishersLength != 0) { %>
            <% for (let i=0; i<publishersLength; i++) { %>
              <p><%= game.involved_companies[i].company.name %></p>
            <% } %>
          <% } else { %>
            <p>No Publishers Available</p>
          <% } %>
        </div>
        <div class="info-piece">
          <h3>Release Date</h3>
          <% if (releaseDateLength != 0) { %>
            <%= game.release_dates[0].human %>
          <% } else { %>
            <p>No Release Dates Found</p>
          <% } %>
        </div>
        <div class="info-piece">
          <h3>Average Ratings</h3>
          <% if (ratingCheck != 'none') { %>
            <p><%= game.rating %>/100</p>
          <% } else { %>
            <p>No Ratings Available</p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="slide-body">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/screenshot1.jpg" alt="screenshot1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot2.jpg" alt="screenshot2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot3.jpg" alt="screenshot3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot4.jpg" alt="screenshot4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot5.jpg" alt="screenshot5" class="img-scroll">
          </div>
          <!-- same slides doubled -->
          <div class="slide">
            <img src="/screenshot1.jpg" alt="screenshot1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot2.jpg" alt="screenshot2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot3.jpg" alt="screenshot3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot4.jpg" alt="screenshot4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot5.jpg" alt="screenshot5" class="img-scroll">
          </div>
        </div>
      </div>
    </div>

    <div class="slide-body">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/artwork1.jpg" alt="artwork1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork2.jpg" alt="artwork2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork3.jpg" alt="artwork3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork4.jpg" alt="artwork4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork5.jpg" alt="artwork5" class="img-scroll">
          </div>
          <!-- same slides doubled -->
          <div class="slide">
            <img src="/artwork1.jpg" alt="artwork1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork2.jpg" alt="artwork2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork3.jpg" alt="artwork3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork4.jpg" alt="artwork4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork5.jpg" alt="artwork5" class="img-scroll">
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <h2>Screenshots</h2>
      <img src="/screenshot1.jpg" alt="screenshot1" class="art-image">
      <img src="/screenshot2.jpg" alt="screenshot2" class="art-image">
      <img src="/screenshot3.jpg" alt="screenshot3" class="art-image">
      <img src="/screenshot4.jpg" alt="screenshot4" class="art-image">
      <img src="/screenshot5.jpg" alt="screenshot5" class="art-image">
    </div> -->

    <!-- <div>
      <h2>Artwork</h2>
      <img src="/artwork1.jpg" alt="artwork1" class="art-image">
      <img src="/artwork2.jpg" alt="artwork2" class="art-image">
      <img src="/artwork3.jpg" alt="artwork3" class="art-image">
      <img src="/artwork4.jpg" alt="artwork4" class="art-image">
      <img src="/artwork5.jpg" alt="artwork5" class="art-image">
    </div> -->

    <%- include('./partials/footer.ejs') %>
  </div>
  <script>
    console.log("this is a test for game details")
  </script>
</body>
</html>