<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content">
    <%- include('./partials/nav.ejs') %>
      
    <div class="search-bar">
      <form action="/" method="POST">
        <input type="text" placeholder="Search a Game..." name="searchTerm" class="searchbar">
        <button type="submit">Submit</button>
      </form>
    </div>

    <% if (games.length > 0) { %>
      <div class="container">
        <div class="list-header row">
          <h3 class="element-image-title col-sm">Cover Art</h3>
          <h3 class="element-title col-sm">Name</h3>
          <h3 class="element-release-date col-sm">Release Date</h3>
          <h3 class="element-release-date col-sm">Publisher</h3>
        </div>
        <% games.forEach(game => { %>
          <div class="list-elem">
            <a href="/gameDetails/<%=game.id%>" class="anchor-styling">
              <div class="gameElement row" id="<%= game.id %>">
                <img src="<%=game.cover.url%>" alt="game" class="element-image col-sm">
                <h3 class="element-title col-sm"><%= game.name %></h3>
                <h4 class="element-release-date col-sm"><%= releaseDates[0].human %></h4>
                <% releaseDates.shift() %>
                <h4 class="element-company col sm"><%= companies[0] %></h4>
                <% companies.shift() %>
              </div>
            </a>
          </div>


        <% }) %>
      </div>
    <% } else { %>
      <p>No games found</p>
    <% } %>

  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>