<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content">
    <%- include('./partials/nav.ejs') %>
      
    <div class="search-bar">
      <form action="/" method="POST">
        <input type="text" placeholder="Search a Game..." name="searchTerm" class="searchbar">
        <button type="submit">Submit</button>
      </form>
    </div>

    <% if (games.length > 0) { %>
      <% games.forEach(game => { %>
        <div class="gameElement" id="<%= game.id %>">
          <img src="<%=game.cover.url%>" alt="game" class="element-image">
          <h3 class="element-title"><%= game.name %></h3>
        </div>

      <% }) %>
    <% } else { %>
      <p>No games found</p>
    <% } %>

  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>